<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ORM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/Myfile.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">

    <h1 style="color: red">ONE TO ONE RELATIONS...</h1>
</nav>
    <div class="container">

            {% for i in items %}
                <div class="row">
            <div class="col-md-6"></div>
                <p>{{ i.Sname }}: {{i.capitalcity.Cname}}</p>
        {% endfor %}
    </div>
    </div>
</div>
</body>
</html>



